body {margin:0;
background-color: antiquewhite;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(21, 115, 74);
    position: fixed;
    top: 0;
    right: 39%;
    width: 25%;
    cursor:col-resize;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial;
    font-weight: bolder;
    font-size: 24px;

}
.active {
    background-color: #0e0223;
}

nav{
    margin: 0;
    padding: 10px;
    float:right;
    background-color: rgb(128, 197, 174);
    width: 400px;
    height: 100%;
    overflow: auto;
    flex-direction: column;
  
}
div{
    margin-top: 80px;
    
    
}


